grant codeBase "file:<drive>:/computeEngine/" {
    permission java.net.SocketPermission "localhost:*", "connect, resolve";
    permission java.net.SocketPermission "localhost:*", "accept";
    permission java.security.AllPermission;
}; 
